#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
}

.header h1{
  margin-right: auto;
}

.header input{
  font-size: 1.2rem;
}

.home-page {
  max-width: 767px;
  margin: 0% auto;
}

.chat-section {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  margin: 1rem 0rem;
  max-height: 60vh;
  overflow-y: scroll;
}

.chat-section p {
  font-size: 1.2rem;
}

.chat {
  color: #000;
  background-color: #ccc;
  border-radius: 1rem;
  width: 60%;
  padding: 5px 10px;
}

.our-chat {
  margin-left: auto;
  background-color: #000;
  border-radius: 1rem;
  width: 60%;
  padding: 5px 10px;
}

.chatbox {
  display: flex;
}

.chatbox input {
  flex-basis: 75%;
  padding: 10px;
}

.chatbox button {
  flex-basis: 25%;
}

p {
  margin: 0%;
}
